<script defer src="login.js"></script>
<div class="center">
    <div class="box">
        <div class="rows">
            <h1>Login</h1>
            <input id="username" placeholder="username" />
            <input id="password" placeholder="password" />
            <button id="login">Login</button>
            <div id="msg"></div>
        </div>
    </div>
</div>