<script defer src="/users/user.js"></script>
<script defer src="/users/users.js"></script>
<script defer src="/users/fetch.js"></script>

<link rel="stylesheet" href="/users/users.css" />

<div class="v_users rows">
    <h1>Users Page</h1>

    <div id="usersList">

    </div>
    <div>
        <button>Add</button>
    </div>
</div>