.v_users .user {
    padding: 10px;
    border: 1px solid #d1d1d1;
}

.v_users .user:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.v_users .user:active {
    background-color: transparent;
}