@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,400&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 5px;
    border: 1px solid #e1e1e1;
}

button {
    background-color: #04AA6D;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    min-width: 100px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    opacity: 0.9;
}

.line {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.line.between {
    justify-content: space-between;
}

.rows {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.grid>div {
    padding: 10px;
}

.grid> :nth-child(1) {
    background-color: #333;
    color: #fff;
}

.grid> :nth-child(2) {
    background-color: #f1f1f1;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 30px;
}

.success {
    color: green;
}

.failed {
    color: red;
}